<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app">
        <p v-for="n in 9" >
            <span v-for="m in n" :style="style">
                {{m}} * {{n}} = {{m*n}}
            </span>
        </p>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                style:{
                    'border':'1px solid #ff3040',
                    'height':'30px',
                    'width':'60px',
                    'margin-right':'10px'
                }
            },
            methods: {}
        })
    </script>
</body>

</html>